a:link {
  color: black
}
.twitter-container {
  display: flex; justify-content: space-evenly;
  background-color: rgb(160, 223, 160);
  padding: .7rem;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
a {
  margin: 0 1rem
}

